a.link {
  display: block;
  width: 100px;
  height:100px;
  border: 3px solid #7c7c7c;
  border-radius: 15px;
  cursor: pointer;
  padding-top: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 20px;
  backdrop-filter: blur(10px);
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  text-decoration: none;
}

a.link:focus {
  border-color: rgb(255, 255, 255);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19), 0 0 10px 0 rgba(255, 255, 255, 0.5);
}

a.link > div.image {
  margin: auto;
  width: 50%;
  text-align: center;
}

a.link .icon {
  width: 45px;
  height: 60px;
}

a.link .icon > img {
  width: 45px;
  height: 45px;
}


a.link .name {
  text-wrap: wrap;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  color: #ffffff;
  font-size: 14px;
}
